.tiptap {
  outline: none;
  padding-inline: 10px;
  min-height: 9.375rem; /* 150px */
  max-height: 20rem; /* 320px */
  overflow-y: scroll;
}

.tiptap ul,
.tiptap ol {
  padding-left: 1rem;
  margin-bottom: 1rem; /* 16px */
}
.tiptap h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

.tiptap h2 {
  font-size: 1.5rem;
  line-height: 2rem; /* 32px */
  font-weight: 700;
  margin-bottom: 1rem; /* 16px */
}

.tiptap h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
  margin-bottom: 1rem; /* 16px */
}
